@charset "utf-8";
html {
    overflow-y: scroll; /* IEへの対応 http://www.htmq.com/style/overflow-y.shtml */
    /*Internet Explorerが独自に追加したプロパティ*/
    /*画面に収まりきれなかったときにスクロールして表示することを許可するか否か*/
    scroll-behavior: smooth;
}
/* リセットおまじない--------------------------------- */
body, h1, h2, h3, h4, h5, p, ul, ol, li, dl, dt, dd {
    margin: 0px;
    padding: 0px;
}
body {
    background: #fff;
    text-align: center;
    font-size: 16px;
    line-height: 1.4;
    min-width: 100%;
    -webkit-text-size-adjust: 100%;
}
li {
    list-style: none;
}
a {
    outline: none;
    color: inherit;
    text-decoration: none;
}
img {
    border: 0px;
    vertical-align: bottom;
}
/* --------------------------------------------------- */
body {
    color:#3b4043;
}
h1{
    font-size: 28px;
    margin: 40px;
}
h2{
    font-size: 20px;
    margin: 10px 0;
}
p{
    text-align: left;
}
a{
    display:block;
}

header{
    background-color:#000000;
    /* w100p 横幅100％*/
    width: 100%; 
    /* h55 高さが55px */
    height: 55px;
    /* c 文字色　好きな色に変えてね */
    color: red;
    /* fw700 文字の太さ少し強め */
    font-weight: 700;
    /* lh55 文字行間55px */
    line-height: 55px;
    /* df flexにする */
    display: flex;
    justify-content:space-around;
}

header ul{
    display: flex;
    justify-content: space-around;
    width: 40%; 
}

#sec1{
    /* w100p  */
    width: 100%;
    /* h600  */
    height: 600px;
    /* c  */
    color: #000;
    /* background: no-repeat center center; */
    background: no-repeat center center;
    /* bgi  */
    background-image: url("../img/jakub-dziubak-XtUd5SiX464-unsplash.jpeg"); 
    /*表示したい画像の相対パスを書いてね！ 今編集しているファイルから見た画像の場所*/
    /* 現在の階層　= ./
    1つ上の階層　= ../
    2つ上の階層　= ../../
    ◯◯フォルダの中の階層(◯◯の中) = ◯◯/
    / ＝ルートパス */
    /* df  */
    display: flex;
    justify-content:center;
    align-items:center;
}

#sec2{

    /* border:solid 3px #000; */
    /* p50  */
    padding: 50px;
    background-color:black;
    margin: 100px;
    color:#fff;

}

#sec3 img{
    height: auto;
    width: 400px;
}


#sec3 {
    display: flex;
}
#sec3 .container{
    width: 33%;
}



#sec4 p{
    width: 400px;
    text-align: center;
    margin:auto;
}

#sec4{
    text-align: left;
}

header{
    position: fixed;
    top:0;
    left:0;
}


#sec5 .prof img{
    width: 250px; 
    height: 250px; 
    border-radius: 50%;
}
#sec5 .prof{
    display: flex;
    justify-content: center;
    align-items: center;
}


h1{
    font-size:58px;

}

section{
    background-image: url();
    background-repeat: no-repeat;
    
    margin-bottom: 10px;
    margin-right: 20px;
    margin: 30px;
}



